.picContainer{
    width: 100%;
    height: 600px;
    background-image: url("/education.jpg");
    background-size:cover;
    background-position:center top;
    /* opacity:0.83; */
}
.title {
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.searchContainer{
    position: relative;
    width: 100%;
    height: 530px;
    background-color: rgba(0,0,0,0.5);
}
.search-title{
    width: 300px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 32px;
    top: 140px;
    color: white;
}
.search-center{
    width: 600px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.center{
    position: relative;
    width: 1200px;
    min-height: 100vh;
    margin: auto;
    padding-top: 20px;
}
.typeContainer{
    position: relative;
    width: 100%;
    min-height: 150px;
    /* background-color: white; */
    border-radius: 20px;
    /* padding: 20px; */
}
.typeCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.postsContainer{
    position: relative;
    width: 100%;
    min-height: 200px;
    background-color: white;
    margin-top: 40px;
    border-radius: 20px;
    padding: 20px;
}
.chip{
    margin: 5px;
}
.chip:hover{
    cursor: pointer;
    background-color: rgb(205, 238, 227);
}